
//@theme "/home/netenebrae/.local/share/rofi/themes/rounded-red-dark.rasi"

//@theme "/home/netenebrae/.local/share/rofi/themes/rounded-red-dark.rasi"

@theme "/home/netenebrae/.local/share/rofi/themes/rounded-red-dark.rasi"
