* {
    bg: rgba(5, 5, 5, 0.95);
    btn: rgba(25, 20, 20, 0.8);
    accent: rgba(217, 4, 41, 1.0);
    fg: rgba(255, 255, 255, 0.6);
}

window {
    fullscreen: true;
    background-color: @bg;
    padding: 215px 535px;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
}

inputbar {
    margin: 0px 0px 60px 0px;
    children: [ prompt ];
    background-color: transparent;
}

prompt {
    background-color: transparent;
    text-color: white;
    font: "JetBrainsMono Nerd Font Bold 45";
    width: 100%;
    horizontal-align: 0.5;
}

listview {
    background-color: transparent;
    columns: 3;
    lines: 2;
    spacing: 50px;
    fixed-height: true;
    fixed-columns: true;
}

element {
    background-color: @btn;
    text-color: @fg;
    border-radius: 35px; /* Bordes más redondeados para botones grandes */
    padding: 0px;
}

element selected {
    background-color: @accent;
    text-color: white;
}

element-text {
    font: "JetBrainsMono Nerd Font 110"; /* Fuente más grande para el botón grande */
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    /* Ajuste de margen para centrado vertical con el nuevo tamaño */
    margin: 60px 0px 60px 0px; 
}
